#layout-rules-wrapper ul {
  padding: 0;
}

#layout-rules-wrapper ul > li {
  list-style-type: none;
  position: relative;
}

#layout-rules-wrapper ul > li .ui-icon {
  position: absolute;
  top: 5px;
}

#layout-rules-wrapper ul > li fieldset {
  margin-left: 25px;
}
