<iframe width='{{ iframe.width }}' height='{{ iframe.height }}' srcdoc='
  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    {{ ad_entity_base }}
    <script src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" type="text/javascript" async="async"></script>
    <script type="text/javascript">
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      googletag.cmd.push(function () {
        var p13n = false;
        if (adEntity && typeof adEntity.usePersonalization === "function") {
          p13n = adEntity.usePersonalization();
        }
      {% if out_of_page %}
        var slot = googletag.defineOutOfPageSlot("{{- slot_id -}}", "{{- attributes.id -}}");
      {% else %}
        var slot = googletag.defineSlot("{{- slot_id -}}", {{ sizes|raw }}, "{{- attributes.id -}}");
      {% endif %}
        slot.addService(googletag.pubads());
        var targeting = {{ targeting|raw }};
        for (var key in targeting) {
          if (targeting.hasOwnProperty(key)) {
            slot.setTargeting(key, targeting[key]);
          }
        }
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        if (p13n === true) {
          googletag.pubads().setRequestNonPersonalizedAds(0);
        }
        else if (p13n === false) {
          googletag.pubads().setRequestNonPersonalizedAds(1);
        }
        googletag.enableServices();
      });
    </script>
  </head>
  <body>
    <div{{ attributes }}>
      <script type="text/javascript">
        googletag.cmd.push(function () {
          googletag.display("{{- attributes.id -}}");
         });
      </script>
    </div>
  </body>
  </html>
  '>
</iframe>
