{% set ad_slot %}<atf-ad-slot{{ attributes }}></atf-ad-slot>{% endset %}
{% if use_theme_breakpoints %}
  <div class="slot-applicant" data-slot="{{ ad_slot|json_encode(constant('JSON_HEX_TAG') b-or constant('JSON_HEX_APOS') b-or constant('JSON_HEX_AMP') b-or constant('JSON_HEX_QUOT')) }}"></div>
{% else %}
  {{ ad_slot }}
{% endif %}
